body {
	font-size: 16px;
	/*#0096ff*/
	color: black;
	background-color: #0096ff;
	font-family: 'Oxygen', sans-serif;
}
/**HEADER**/
#header-nav {
	background-color: #ffbb33;
	border-radius: 0;
	border: 0;
}
#logo-img {
	/*background: url(/images/rsz_fox1.png) no-repeat;*/
	width: 108px;
	height: 70px;
	margin: 10px 15px 10px 0;
}
#logo-img1 {
	/*background: url(/images/rsz_award.jpg) no-repeat;*/
	width: 30px;
	height: 30px;
	/*margin: 10px 15px 10px 0;*/
}
.navbar-brand{
	padding-top: 25px;
}
.navbar-brand h1 {
	font-family: 'Lora', serif;
	/*color: */
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 2px 2px black;
	margin-bottom: 0px;
	margin-top: 0px;
	line-height: 0.75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
.navbar-brand p {
	color: #000;
	text-transform: uppercase;
	font-size: 0.7em;
	margin-top: 10px; 

}
.navbar-brand p span {
	vertical-align: middle;
	font-family: 'Lora', serif;
	font-weight: bold;
	/*font-size: 14px;*/
	text-shadow: 1px 1px #0096ff;
}
#nav-list {
	margin-top: 10px;
}
#nav-list a {
	color: #0096ff;
	text-align: center;
}
#nav-list a:hover {
	background: #99d6ff;

}
#nav-list a span {
	font-size: 1.2em;
}
#phone {
	margin-top: 5px;
}
#phone a {
	text-align: right;
	padding-bottom: 0;
}
#phone div {
	/*color: */
	text-align: right;
	padding-right: 15px; 
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #0096ff;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

/*End of Header*/

/*Footoer Beigging*/
.panel-footer {
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	background-color: #ffbb33;
	border-top: 0;
	opacity: 0.89;
	/*width: 100%;*/
}
.panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }

panel-footer div.row {
  margin-bottom: 030px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #0000ff;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/*Footer end*/


/*Home PAge*/
.container .jumbotron {
	box-shadow: 0 0 50px #ffbb33;
	border: 2px solid #ffbb33; 
}
#menu-tile, #specials-tile, #map-tile {
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #ffbb33;
	overflow: hidden;
}
#menu-tile:hover, #special-tiles:hover, #map-tile:hover {
box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-tile {
	background: url(/images/010.jpg) no-repeat;
	background-position: center;
}
#specials-tile {
	background: url(/images/011.jpg) no-repeat;
	background-position: center;
}
#menu-tile span, #specials-tile span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	background-color: #ffbb33;
	color: #0096ff;
	opacity: 0.7;
}

/*End HOme Page*/


/*Menu categoires page*/
#div-inmain-content{
	color: #ffbb33;
}
.category-tile {
	position: relative;
	border: 2px solid #ffbb33;
	overflow: hidden;
	width: 200px;
	height: 200px;
	margin: 0 auto 15px;

}
.category-tile span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	font-size: 1.2em;
	text-transform: uppercase;
	text-align: center;
	background-color: #ffbb33;
	color: #0096ff;
	opacity: 0.8;
}
.category-tile:hover {
	box-shadow: 0 1px 5px 1px #cccccc
}
#menu-categories-title + div {
	margin-bottom:  50px;

}
/*end of menu catogies page*/

/*beginneing of sginal categories*/
.signle-item-tile {
	margin-bottom: 25px;
}
.menu-item-tile hr {
	width: 80%;
}
.menu-item-tile .menu-item-price {
	font-size: 1.1em;
	text-align: right;
	margin-top: -15px;
	margin-right: -15px;
}
.menu-item-tile .menu-item-price span {
	font-size: 0.6em;
}
.menu-item-photo {
	position: relative;
	border: 2px solid #ffbb33;
	overflow: hidden;
	padding: 0;
	margin-right: -15px;
	margin-left: auto;
	margin-bottom: 20px;
	max-width: 250px;
}
.menu-item-photo div {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 80px;
	background: #ffbb33;
	text-align: center;
}
menu-item-description {
  padding-right: 30px;
}
h3.menu-item-title {
  margin: 0 0 10px;
}
.menu-item-details {
  font-size: .9em;
  font-style: italic;
}
/*end of sginal categories*/



/********** Large devices only **********/
@media (min-width: 1200px) {
	.jumbotron {
		background: url(/images/013.jpg);
		height: 675px;
		box-shadow: 0 0 50px #ffbb33;
		border: 2px solid #ffbb33;
	}
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    /*background: url('../images/restaurant-logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;*/
  }
  .jumbotron {
		background: url(/images/013.jpg) no-repeat;
		height: 558px;
		box-shadow: 0 0 50px #ffbb33;
		border: 2px solid #ffbb33;
	}
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
.jumbotron {
		background: url(/images/res013.jpg);
		height: 432px;
		box-shadow: 0 0 50px #ffbb33;
		border: 2px solid #ffbb33;
	}
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #0096ff;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #ffbb33;
    font-weight: bold;

  }
  .container .jumbotron {
  	margin-top: 30px;
  	padding: 0;
  	box-shadow: 0 0 50px #ffbb33;
	border: 2px solid #ffbb33;
  }
  #menu-tile, #specials-tile {
  	width: 360px;
  	margin: 0 auto 15px auto;
  }
  .menu-item-photo {
  	margin-right: auto;
  }
  .menu-item-tile .menu-item-price{
  	text-align: center;
  }
  .menu-item-description {
  	text-align: center;
  }
}
@media (max-width: 497px){
	.navbar-brand h1 {
		padding-top: 5px;
		font-size: 6vw;
	}
	 #menu-tile, #specials-tile {
  	width: 280px;
  	margin: 0 auto 15px auto;
  }
  
  .col-xxs-12 {
  	position: relative;;
  	min-height: 1px;
  	padding-right: 15px;
  	padding-left: 15px;
  	float: left;
  	width: 100%;
  }

}



